<div id='reviews'>
	<div class='row'>
		<h2 style='text-align: center;'>Here's what a few of our customers have to say:</h2>
	</div>
	<div class='col quarter-col first'>
		<div class='review_img'>
			<img src='/static/images/dan_review_image.jpg'>
		</div>
		<div class='review_name'>
			<p>Dan, Tempe</p>
		</div>
		<div class='review_quote'>
			<p>Awesome over the phone help when I called at 6:55pm on a Thursday!  She helped me trouble shoot the problems and gave me great advise how to fix the issue.</p>
		</div>
	</div>
	<div class='col quarter-col'>
		<div class='review_img'>
			<img src='/static/images/ann_review_image.jpg'>
		</div>
		<div class='review_name'>
			<p>Ann, Chandler</p>
		</div>
		<div class='review-_quote'>
			<p>SOS is locally owned pool service provider that provides competitive pricing and great service. If you need a company that does quality work call SOS.</p>
		</div>
	</div>
	<div class='col quarter-col'>
		<div class='review_img'>
			<img src='/static/images/dan_review_image.jpg'>
		</div>
		<div class='review_name'>
			<p>Dan, Tempe</p>
		</div>
		<div class='review_quote'>
			<p>Awesome over the phone help when I called at 6:55pm on a Thursday!  She helped me trouble shoot the problems and gave me great advise how to fix the issue.</p>
		</div>
	</div>
	<div class='col quarter-col last'>
		<div class='review_img'>
			<img src='/static/images/ann_review_image.jpg'>
		</div>
		<div class='review_name'>
			<p>Ann, Chandler</p>
		</div>
		<div class='review-_quote'>
			<p>SOS is locally owned pool service provider that provides competitive pricing and great service. If you need a company that does quality work call SOS.</p>
		</div>
	</div>
</div>