html, body {
	font-size: 16px;
}

body {
	color: #222222;
	padding: 0;
	margin: 0;
	font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default;
	text-rendering: optimizeLegibility;
}

a {
	text-decoration: none !important;
}

ul {
	list-style: none;
}

.myContainer {
	width:100%;
	margin: 0 auto;
	max-width: 875px;
}

.row {
	width: 100%;
	margin: 0;
}

.col {
	float: left;
}

.one-third-col {
	width: 30%;
}

.one-third-col.first {
	margin: 0 3% 0 2%;
}

.one-third-col.last {
	margin: 0 2% 0 3%;
}

#base_body_wrapper {
	padding-bottom: 30px;
}

.btn.green {
	background-color: #2bad74;
	color: white;
	border-radius: 0;
	padding: 10px 20px;
	font-weight: 100;
	font-size: 16px;
}

.btn.green:hover, .btn.green:active {
	background-color: #1a9c63;
}

		/*nav bar*/

#myNavbar {
	background-color: #3360a3;
	border-bottom: 20px solid white;
}

.navbar_link_container {
	text-align: center;
}

#navbar_links a, #myFooter a {
	color: white;
	font-weight: 100;
	font-size: 18px;
}

#navbar_links a:hover, #myFooter a:hover, #navbar_links a:active, #myFooter a:active  {
	color: #2bad74;
	background: inherit;
	font-weight: 500;
	font-size: 18px;
}

.navbar-header {
	position: relative;
	float: none;
}

#navbar-contact {
	margin: 9px auto 0;
}

#navbar-contact label {
	color: white;
	font-weight: 100;
}

.nav_top_row {
	float:left;
	width: 33%;
	text-align: center;
}

#phone {
	text-align: left; 
	font-weight: bold;
	font-size: 20px; 
	text-align: center; 
	width: auto; 
	margin: 20px auto 0; 
	color: #eee;
}

#call {
	display: none;
}

		/* homepage hero */

.homepage_hero_container {
	background: #3360a3;
	width: 100%;
	padding: 40px 0;
}

.homepage_image {
	background: url('../images/hero_sketch.png') center center no-repeat;
	height: 420px;
	position: relative;
}

.homepage_image .btn.green {
	position: absolute;
	left: 80px;
	bottom: 40px;
}

#homepage_service_section img {
	width: 240px;
	margin: 0 auto 20px;
}

#homepage_service_section a {
	font-weight: 500;
}

#homepage_service_section h3 {
	color: #3360a3;
	font-weight: 900;
}

#homepage_service_section p {
	font-weight: 300;
}

		/* footer */
#myFooter {
	text-align:center;
	height: 120px;
	padding: 25px 0 0;
	background-color: #3360a3;
}

#myFooter a, #myFooter p {
	font-size: 16px;
	letter-spacing: 1.25px;
	color: white;
	font-weight: 300;
}

		/* Contact */

::-webkit-input-placeholder {	color: #414c5c; }
:-moz-placeholder { /* Firefox 18- */	color: #414c5c ; }
::-moz-placeholder {  /* Firefox 19+ */   color: #414c5c ; }
:-ms-input-placeholder {  color: #414c5c ; }

address p {
	margin: 5px 0;
	line-height: 20px;
	font-size: 16px;
}

#google_map {
	width: 100%;
	height: 450px;
	display: inline;
	margin: 7px 0 0;
}

#contact_form label {
	font-weight: 300;
}

#contact_form .errorlist {
	text-align: center;
	color: #d30000;
}

#contact_form ul {
	display: block;
	text-align: center;
}

#contact_form input:not(.btn) {
	height: 40px;
	width: 250px;
	margin: 7px auto;
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	text-align:center;
}

#contact_form textarea {
	height: 80px;
	width: 240px;
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	text-align:center;
}

#contact_form ul li ul li {
	text-align: left;
	margin-left: 60px;
}

#contact_form ul li ul li input:not(.btn) {
	height: 12px;
	width: 12px;
}


@media (min-width: 768px) {
	#navbar_links {
		display: inline-block !important;
	}

}

@media (max-width: 991px) {
	.homepage_image {
		background-size: contain;
	}
	.homepage_image .btn.green {
		left: 5%;
		bottom: 20px;
	}

	#homepage_service_section img {
		width: 200px;
	}
}

@media (max-width: 767px) {
	.navbar-toggle {
		position: absolute;
		right: 20px;
		top: 3px;
		background: #E4EEFB;
	}
	#call {
		display: inline-block;
		margin: 0 auto;
	}
	#phone {
		display: none;
	}
	#navbar-contact {
		margin: 0;
	}
	.navbar_link_container {
		display: flex;
	}
	#navbar_links {
		margin: 0 auto;
	}
	.nav_top_row.logo {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.nav_top_row.call, .nav_top_row.contact {
		width: 50%;
		text-align: center;
		margin-bottom:10px;
	}
	.homepage_image {
		height: 320px;
	}
	#homepage_service_section img {
		width: 140px;
	}
	#homepage_service_section h3 {
		color: #3360a3;
		font-weight: 500;
		font-size: 18px;
	}
}

@media (max-width: 480px) {

	.btn.green {
		padding: 6px 16px;
		font-size: 14px;
	}
	.navbar-toggle {
		right: 0;
		top: 0;
	}
	.nav_top_row.logo {
		margin-left: 15px;
		text-align: left;
	}
	.nav_top_row.logo h1 {
		font-size: 20px !important;
	}
	.nav_top_row.call, .nav_top_row.contact {
		margin-top: 10px;
	}
	.homepage_image {
		height: 200px;
	}
	.homepage_image .btn.green {
		left: 5%;
		bottom: 0px;
		font-size:12px;
	}
	.one-third-col {
		width: 95%;
		margin: 0 auto !important;
	}

}