{% extends 'cms/base.html' %}

{% load static %}
{% load cms_tags %}

{% block body_block %}
<div class='page_content'>
	<div class='myContainer'>
		<h1>About Us</h1>
		<p><b>Kirby</b> Ramirez, owner-operator of SOS Pool Rescue, LLC, was born in Santa Fe, NM and attended ASU in Tempe.  He worked for Paddock Pools as an equipment and chemical specialist for 5 years during college.</p>
		<p>Kirby has one son named Kielan W Ramirez. They both love sports and Kirby is very involved with Kielan's sports activities. Kirby is customer-oriented and he understands the value of giving good, reliable service and repairs to his customers.  <span style='color: #96203D; font-weight: bold'>Go Sun Devils!</span></p>
		<p><b>Sheila</b> Ramirez, office Mom, came to Arizona to help Kirby set up his own business.</p>
		<p>Her past customer service businesses include a courier business and a copying and duplicating business, both based in Santa Fe, NM. Her hobbies include tennis, pickleball, and traveling with her grandson.</p>
		<div class='page-bottom-contact'>
			<a class='btn green' href='{% page_url 'contact' %}'>Get in touch today</a>
		</div>
		{% include 'misc_pages/reviews.html' %}
		{% comment %}
		<div style='margin:20px auto 0;'>
			<div id='yelpwidget'></div>
		</div>
		{% endcomment %}
	</div>
</div>
{% endblock body_block %}